* {
  background: #000;
  color: tan;
  font-family: monospace;
  margin: 1px 0 0 0;
  padding: 0;
  white-space: nowrap;
}

html,
body {
  height: 99%;
  width: 100%;
}

:hover {
  color: white;
}

canvas {
  background: #333;
  display: block;
  width: 100vw;
  height: 20vw;
}

#info {
  background: #333;
  width: 100vw;
}

#output {
  white-space: nowrap;
}

#output>a {
  display:block;
  margin: 1em;
}

button {
  padding: 1em;
  width: 50vw;
}

.selected {
  color: white;
}