* {
  background: #000;
  color: tan;
  font-family: monospace;
  margin: 1px 0 0 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

:hover {
  color: white;
}

canvas {
  background: #333;
  display: block;
  width: 100vw;
}

#info {
  background: #333;
  white-space: nowrap;
  width: 100vw;
}

#output {
  white-space: nowrap;
}

button {
  padding: 1em;
  width: 50vw;
}